.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
*~
build
gen
bin
local.properties
*.apk
/.classpath
/.project
.classpath
.project
.settings
*.iml
.idea
out
project.properties
target
gen-external-apklibs
classes
.metadata
map.txt
